body{
    background-image: linear-gradient(to top,#ba9fd7, #97D2EC);
}

h1{
    color: darkslategray;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 80px;
    margin-bottom: 10px;
}
h2{
    color: #E7F6F2;
    font-family: sans-serif;
    color: darkslategray;
    text-align: center;
    font-size: 30px;
}
h3{
    color: #E7F6F2;
    font-size: x-large;
    
}
h4{
    color: #E7F6F2;
    
}

p{
    font-size: 20px;
}

ul{
    font-size: 16px;
}

ol{
    font-size: 16px;
}

.imgProf {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.column {
    float: left;
    width: 50%;
}
  

.row:after {
    content: "";
    display: table;
    clear: both;
}

.Profiles{
    color: hwb(164 91% 4%);
    font-family: Arial, Helvetica, sans-serif;
   
    width: 70%;
    margin: auto;
    border: 5px #ffffff solid;
    border-radius: 40px ;
    border-style: solid; 
    background-color: rgba(83, 83, 83, 0.5);
    padding: 30px;
}

.form{
    color: hwb(164 91% 4%);
    font-family: Arial, Helvetica, sans-serif; 
    width: 30%;
    margin: auto;
    border: 5px #ffffff solid;
    border-radius: 40px ;
    border-style: solid; 
    background-color: rgba(83, 83, 83, 0.5);
    padding: 30px;
}

.all-cards{
    display: flex;
    justify-content: center;
    margin: auto;

}
.card{
    color: hwb(164 91% 4%);
    font-family: Arial, Helvetica, sans-serif;
    
    width: 30%;
    margin: auto;
    border: 5px #ffffff solid;
    border-radius: 40px ;
    border-style: solid; 
    background-color: rgba(83, 83, 83, 0.5);
    padding: 20px;

    
  
}

.card-img-top{
    width: 200px;
    height: 200px;
    border-radius: 20%;
    align-items: center;
    margin: auto;
}


.copyr{

    color: #FFFFFF;
    size: 15px;
    background-color: rgba(83, 83, 83, 0.5);
    text-align: center;
    padding: 10px;
    font-family: sans-serif;
}
